<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Fastener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Fastener.Properties.Settings.DBMaintenanceConnectionString"
            connectionString="Data Source=vrmss01.metit.lan;Initial Catalog=DBMaintenance;User Id=Fastener_user;Password=Fast123!!; MultipleActiveResultSets=true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Fastener.Properties.Settings>
            <setting name="DEFAULT_PASSWORD" serializeAs="String">
                <value>baaab6fa3b287456d2ff691027920826</value>
            </setting>
        </Fastener.Properties.Settings>
    </userSettings>

  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <!-- bufferSize = 1 the log is write instantly to DB, bufferSize = 100 the logs are written when 100 logs are achieved-->
      <connectionType value="System.Data.SqlClient.SqlConnection, &#xD;&#xA;   System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                                                                                  />
      <connectionString value="data source=vrmss01.metit.lan;&#xD;&#xA;    initial catalog=DBMaintenance;Integrated Security=true;&#xD;&#xA;    persist security info=True"

                               />

      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Trace],[User_log],[Machine_log],&#xD;&#xA;    [Message],[Exception],[NumRichiesta],[Stato_Iniziale],[Stato_Finale],[Azione],[IdUtente],[IdUtenteAssegnato]) VALUES (@log_date, @thread, @log_level, &#xD;&#xA;    @logger, @trace, @user_log, @machine_log, @message, @exception, @numRichiesta, @statoIniziale,@statoFinale,@azione,@idUtente,@idUtenteAssegnato)"

                                                                    />
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@trace"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%stacktrace"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@user_log"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%username"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@machine_log"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{log4net:HostName}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
      <!--<parameter>
        <parameterName value="@numRichiesta"/>
        <dbType value="String" />
        <size value="15" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{numRichiesta}"/>
        </layout>
      </parameter>-->
      <parameter>
        <parameterName value="@numRichiesta"/>
        <dbType value="Int32" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="numRichiesta" />
        </layout>
      </parameter>
    <parameter>
      <parameterName value="@statoIniziale"/>
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="statoIniziale" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@statoFinale"/>
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="statoFinale" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@azione"/>
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="azione" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@idUtente"/>
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="idUtente" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@idUtenteAssegnato"/>
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="idUtenteAssegnato" />
      </layout>
    </parameter>
</appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
